<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Note Type</title>
</head>
<body>
<center>
<h1>Create Note Type</h1>
<p>
    <a href="/noteTypes">iNote list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-type}" th:object="${noteType}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
    </table>
    <input type="submit" value="Create iNote">
</form>
</center>
</body>
</html>