<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Note</title>
</head>
<body>
<h1>Delete Note</h1>
<p>
    <a href="/notes">iNote list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/delete-note}" th:object="${note}" method="post">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>

        <tr>
            <td>Note Type:</td>
            <td>
                <select name=noteType>
                    <option th:each="p : ${noteTypes}" th:value="${p.id}" th:selected="(${p.id} == *{noteType.id})" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Delete iNote">
</form>
</body>
</html>