<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes List</title>
</head>
<body>
<center>
    <a href="/create-note">Create New iNote</a>
    <br>
    <br>
    <a href="noteTypes">List Note Type</a>
    <form action="/search-note" method="get">
        <h3>Search by Note Type:</h3>
        <select  name="noteType">
            <option th:each="p : ${noteTypes}" th:value="${p.name}" th:text="${p.name}" ></option>
        </select>
        <input type="submit" value="Search"/>
    </form><br/>
    <h1>iNote List</h1>
    <table border="2px" width="400px">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>Note Type</td>
            <td>Detail</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        <tr th:each="note,rowStat : ${notes}">
            <td th:text="${note.id}"></td>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td th:text="${note.noteType.name}"></td>
            <td><a th:href="@{/view-note/__${note.id}__}">detail</a></td>
            <td><a th:href="@{/edit-note/__${note.id}__}">edit</a></td>
            <td><a th:href="@{/delete-note/__${note.id}__}">delete</a></td>
        </tr>

    </table>
    <div>
        <a th:href="@{'/notes'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>
        <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>
        <a th:href="@{'/notes'(page=${notes.number + 1})}" th:if="${notes.hasNext()}">Next</a>
    </div>
</center>

</body>
</html>